---
layout: default
title: Home
---

<style>
  /* hr {
    height: 12px;
    border: 0;
    box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);

  } */
  hr {
    /* border: 0;
    height: 0; 
    box-shadow: 0 0 10px 1px black; */
  border-top: 1px dashed #8c8b8b;
	border-bottom: 1px dashed #fff;
  }
  hr:after {
    /* Not really supposed to work, but does */
    content: "\00a0"; /* Prevent margin collapse */
  }
</style>

<div class="posts">
  {% for post in paginator.posts %}
  <div class="post">
    <h1 class="post-title">
      <a href="{{ post.url }}">
        {{ post.title }}
      </a>
    </h1>

    <span class="post-date">{{ post.date | date_to_string }}</span>

    <!-- {{ post.content }} -->
  </div>
  <hr />
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.next_page %}
  <a
    class="pagination-item older"
    href="{{ site.baseurl }}page{{paginator.next_page}}"
    >Older</a
  >
  {% else %}
  <span class="pagination-item older">Older</span>
  {% endif %} {% if paginator.previous_page %} {% if paginator.page == 2 %}
  <a class="pagination-item newer" href="{{ site.baseurl }}">Newer</a>
  {% else %}
  <a
    class="pagination-item newer"
    href="{{ site.baseurl }}page{{paginator.previous_page}}"
    >Newer</a
  >
  {% endif %} {% else %}
  <span class="pagination-item newer">Newer</span>
  {% endif %}
</div>
